.el-notification {
            display: flex;
            width: 330px;
            padding: 14px 26px 14px 13px;
            border-radius: 8px;
            box-sizing: border-box;
            border: 1px solid #ebeef5;
            position: fixed;
            background-color: #fff;
            box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
            transition: opacity .3s,transform .3s,left .3s,right .3s,top .4s,bottom .3s;
            overflow: hidden;
}
div {
  display: block;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.el-close{
  width: 15px;
  position: absolute;
  top: 4px;
  right: -200px;
  cursor: pointer;
  color: #909399;
  font-size: 16px;
}
.slide-enter, .slide-leave-to{
  transform: translate(374px, 0);
}
.slide-enter-active{
  transition: all 1s ease-in-out;
}
.slide-leave-active{
  transition: all 1s ease-in-out;
}
.slide-enter-to, .slide-leave {
  transform: translate(0, 0);
}

$location: (
  leftbottom:(bottom: 16px, left: 16px),
  rightbottom:(bottom: 16px, right: 16px),
  lefttop:(top:16px, left: 16px),
  righttop:(top: 16px, right: 16px),
);
@each $key in map_keys($location) {
  .#{$key} {
    left: map_get(map_get($location, $key), left);
    right: map_get(map_get($location, $key), right);
    top: map_get(map_get($location, $key), top);
    bottom: map_get(map_get($location, $key), bottom);
  }
};

